<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2025 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settingsoverlay.vermeer.poco">
    <application android:hasCode="false" />
    <overlay
        android:isStatic="true"
        android:priority="800"
        android:targetPackage="com.android.settings"
        android:requiredSystemPropertyName="ro.boot.hwc"
        android:requiredSystemPropertyValue="GL" />
</manifest>
